* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'El Messiri', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #fff;
  color: var(--color-blue-dark-2);
  box-sizing: border-box; }

.animated--reverse {
  animation: moveInRight 0.5s ease-out .75s;
  animation-fill-mode: forwards; }

.container {
  max-width: 120rem;
  margin: 3rem auto; }
  @media (max-width: 62.5em) {
    .container {
      margin: 0;
      min-width: 100%; } }

.services {
  display: grid;
  grid-template-rows: min-content repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.5rem;
  background-color: #f9f7f6;
  margin-bottom: 5%;
  height: 40vh; }
  .services__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    text-align: center; }
  .services__text {
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    text-align: center;
    align-self: center; }
  .services__image {
    background-color: #e63946;
    grid-row: 2/-1;
    grid-column: 2/-1;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(230, 57, 70, 0.5), rgba(29, 53, 87, 0.5)), url(../img/bg-service.jpg);
    background-size: cover;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr); }
    .services__image--1 {
      grid-row: 2 / span 4;
      grid-column: 2 / span 4; }
    .services__image--2 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 3;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
      z-index: 20;
      margin-left: -12%; }

.service-areas {
  grid-row: 2 / span 1; }

.pricing {
  grid-row: 3 / span 1; }

.contact {
  grid-row: 4 / span 1; }

.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #e63946, #1d3557);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }

.heading-secondary {
  text-align: center; }

.process {
  display: grid;
  grid-template-rows: max-content minmax(40vh, 1fr) 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 40vh;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  margin-bottom: 15%; }
  @media (max-width: 62.5em) {
    .process {
      margin-left: 5rem;
      margin-right: 5rem; } }
  @media (max-width: 37.5em) {
    .process {
      margin-left: 16rem;
      margin-right: 16rem;
      margin-bottom: 15%;
      height: 100%;
      grid-template-rows: max-content repeat(3, minmax(40vh, 1fr)) max-content;
      grid-template-columns: 1fr; } }
  .process__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center; }
  .process__text {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    border: 2px solid #e63946; }
    @media (max-width: 37.5em) {
      .process__text {
        grid-row: 5 / -1;
        text-align: center; } }
  .process__card {
    padding-top: 5rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative; }
    .process__card__side {
      transition: all .8s ease;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
      position: absolute;
      top: 0;
      left: 0;
      row-gap: 5rem; }
      .process__card__side--icon {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        margin-left: 10%;
        margin-top: 25%;
        fill: url(#my-gradient) rgba(230, 57, 70, 0.5); }
        @media (max-width: 62.5em) {
          .process__card__side--icon {
            box-sizing: border-box;
            margin: 0;
            width: 100%;
            grid-row: 1 / 4;
            grid-column: 2 / 5;
            align-self: center;
            justify-self: center; } }
      .process__card__side--text {
        grid-row: 3 / span 2;
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
        margin-top: 10%;
        font-size: 2rem; }
      .process__card__side--front {
        background-image: linear-gradient(to right bottom, #fff, #457b9d);
        text-align: center; }
      .process__card__side--back {
        transform: rotateY(180deg);
        grid-row: 2 / -1; }
        .process__card__side--back-1 {
          background-image: linear-gradient(to right bottom, #457b9d, #e63946); }
        .process__card__side--back-2 {
          background-image: linear-gradient(to right bottom, #457b9d, #1d3557); }
        .process__card__side--back-3 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .process__card__side--details {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        margin-top: 5%; }
        .process__card__side--details p {
          grid-row: 4 / 5;
          grid-column: 1 / -1; }
        .process__card__side--details a {
          grid-row: -3 / -2;
          grid-column: 2 / -2;
          margin-top: 3%;
          text-align: center;
          align-self: center;
          margin-top: -10%; }
    .process__card:hover .process__card__side--front {
      transform: rotateY(-180deg); }
    .process__card:hover .process__card__side--back {
      transform: rotateY(0); }
    .process__card__pictures {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      grid-column: 1 / -1; }
      .process__card__pictures--1 {
        background-image: linear-gradient(to right bottom, #457b9d, #e63946), url(../img/lon-1.jpg); }
      .process__card__pictures--2 {
        background-image: linear-gradient(to right bottom, #457b9d, #1d3557), url(../img/lon-2.jpg); }
      .process__card__pictures--3 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/lon-3.jpg); }

.p--text {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2.5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
  .p--text--blue {
    color: #457b9d; }
  .p--text--white {
    color: #fff; }

.service-areas {
  display: grid;
  grid-template-rows: max-content repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  background-image: linear-gradient(to right bottom, #fff, #457b9d);
  height: 40vh;
  margin-bottom: 10%; }
  .service-areas__image {
    background-image: url(../img/lambeth.jpg);
    background-size: cover;
    grid-row: 1 / -1;
    grid-column: 1 / span 3;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); }
  .service-areas__text {
    grid-row: 1 / -1;
    grid-column: 4 / -1;
    align-self: center; }

.contact {
  padding: 10%;
  background-image: linear-gradient(to right bottom, #e63946, #1d3557); }
  .contact__book {
    background-image: linear-gradient(105deg, rgba(249, 247, 246, 0.9) 0, rgba(249, 247, 246, 0.8) 55%, transparent 50%), url(../img/bridge.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
  .contact__form {
    width: 50%;
    padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #457b9d; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e63946; }
  .form__input::-webkit-input-placeholder {
    color: #aaa; }

.form__group--btn {
  margin-left: 1%;
  margin-top: 5%; }

.form__header {
  padding-bottom: 5%; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: .5rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4rem); }

.footer {
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f9f7f6;
  background-color: #333;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 2rem; }
  .footer__logo-box {
    grid-column: 1 / -1; }
  .footer__logo {
    width: 15rem;
    text-align: center; }
  .footer__list {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(15rem, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 2rem; }
    .footer__list-item--1 {
      grid-column: 2 / 3; }
    .footer__list-item--2 {
      grid-column: 3 / 4; }
    .footer__list-item--3 {
      grid-column: 4 / 5; }
    .footer__list-item--4 {
      grid-column: 5 / 6; }
    .footer__list-item--5 {
      grid-column: 6 / 7; }
  .footer__link:link, .footer__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    padding: 0 1.5rem;
    transition: all .2s;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #e63946;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    font-size: 1.5rem; }
  .footer__details {
    display: block;
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1; }
  .footer__copyright {
    text-align: center;
    grid-row: 4 / -1;
    grid-column: 1 / -1; }
    .footer__copyright span {
      display: block; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#457b9d, #1d3557);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #457b9d;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #1d3557;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(225deg); }

.header {
  margin-bottom: 5%;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(236, 154, 154, 0.8), rgba(230, 57, 70, 0.8)), url(../img/lambeth.jpg);
  background-size: cover;
  background-position: top;
  transition: all .75s;
  position: relative;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2%;
    left: 2%;
    animation: appearAndSet 1s ease-out .75s;
    animation-fill-mode: backwards; }
  .header__logo {
    height: 25rem;
    opacity: 1;
    animation: growShrink 1s ease-out .75s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        height: 20rem; } }
  .header__text-box {
    text-align: center;
    grid-row: 3 / 5;
    grid-column: 2 / -1;
    transform: translate(-1%, -1%); }
    @media (max-width: 62.5em) {
      .header__text-box {
        font-size: 40%; } }

.heading-primary {
  color: #f1faee;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #1d3557; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(29, 53, 87, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(29, 53, 87, 0.2); }

.btn--white {
  background-color: #f1faee;
  color: #1d3557; }
  .btn--white::after {
    background-color: #f1faee; }

.btn--blue {
  background-color: #457b9d;
  color: #fff; }
  .btn--blue::after {
    background-color: #f1faee; }

.btn--red {
  color: #fff;
  background-image: linear-gradient(#e63946, #1d3557); }
  .btn--red::after {
    background-image: linear-gradient(#e63946, #1d3557); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1.5s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1d3557;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f1faee;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #1d3557;
  color: #f1faee;
  box-shadow: 0 1rem 2rem rgba(29, 53, 87, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(29, 53, 87, 0.15);
  transform: translateY(0); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appearAndSet {
  0% {
    top: 50%;
    left: 50%;
    z-index: 1; }
  100% {
    top: 2%;
    left: 2%;
    z-index: 1; } }

@keyframes growShrink {
  0% {
    opacity: 0;
    height: 1rem; }
  50% {
    opacity: 1;
    height: 80rem; }
  100% {
    opacity: 1;
    height: 25rem;
    @media only screen and (max-width: 75em) {
      height: 20rem; } } }
