// Color Palette
$color-primary-red-light: #ec9a9a;
$color-primary-red-dark: #e63946;

$color-blue-light-1: #f1faee;
$color-blue-light-2: #a8dadc;

$color-blue-dark-1: #457b9d;
$color-blue-dark-2: #1d3557;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// RESPONSIVE BREAKPOINTS   
$bp-largest: 75em ;// 1200 / 16px(default)
$bp-large: 62.5em; // 1000 / 16px
$bp-medium: 50em; // 800 / 16
$bp-small: 37.5em; // 600 /16

// ems are better for media queries
// 1em = 16px
// 600 / 16 = 37.5
// $breakpoint argument choices:
// - phone 
// - tab-port
// - tab-land
// -big-desktop

@mixin respond($breakpoint){
    @if $breakpoint == phone
    {
        @media(max-width: $bp-small){@content}; //600px
    }
    @if $breakpoint == tab-port
    {
        @media(max-width: $bp-medium){@content}; //900px
    }
    @if $breakpoint == tab-land
    {
        @media(max-width: $bp-large){@content}; //1200px
    }
    @if $breakpoint == big-desktop
    {
        @media(max-width: $bp-largest){@content}; //1800px
        
    }
}


*{
    margin:0;
    padding:0;
}
//Used for debugging random whitespace --CLUTCH
// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }

*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;    
}

html{
    
    font-size: 62.5%; //1rem = 10px, 10px / 16 = 62.5%
    
    @include respond(tab-land){
        font-size: 50%;
    }
    @include respond(phone){
        font-size: 30%;
    }
}

body{
    font-family: 'El Messiri', sans-serif;
    font-weight:400;
    line-height: 1.6;    
    min-height:100vh;
    background-color: #fff;
    color: var(--color-blue-dark-2);
    box-sizing:border-box;
}